/*Styles följer strukturen på sidan från uppifrån och ned, vänster till höger.*/

/*Alla header styles*/
body {
    margin: 0 auto;
    min-height: 100%;
}

main {
    min-height: 100%;
}

#header__text{
    text-align: center;
    font-size: 4rem;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,0.75) 0%, rgba(0,198,255,0.5746673669467788) 50%, rgba(9,9,121,0.75) 100%);
    padding-bottom: .5rem;
}

/*Sidebar styles*/
/*  #sidebar {
    background: rgb(61,9,121);
    background: linear-gradient(90deg, rgba(61,9,121,0.5046393557422969) 0%, rgba(209,0,255,0.30015756302521013) 50%, rgba(61,9,121,0.5046393557422969) 100%);
    padding: 1rem;
    border-radius: 1rem;
}  */
/*toasts styles*/
/* #toasts{
    background: rgb(61,9,121);
    background: linear-gradient(90deg, rgba(61,9,121,0.5046393557422969) 0%, rgba(209,0,255,0.30015756302521013) 50%, rgba(61,9,121,0.5046393557422969) 100%);
    padding: 1rem;
    border-radius: 1rem;
} */

/*Styles för spellistornas innehåll*/
/* #content{
    background: rgba(9, 9, 121, 0.514);
    background: linear-gradient(90deg, rgba(9,9,121,0.75) 0%, rgba(0,198,255,0.5746673669467788) 0%, rgba(9,9,121,0.75) 100%); 
    border-radius: 1rem;
}  */

/*Alla footer styles*/
#footer{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,0.75) 0%, rgba(0,198,255,0.5746673669467788) 50%, rgba(9,9,121,0.75) 100%);
}

#footer h3{
    font-size: 1.65rem;
    font-weight: 700;
    text-align: center;
    font-family: serif;
}

#footer p{
    font-size: 1.1rem;
    text-align: center;
    font-weight: 450;
    font-style: italic;
}

#footer h4{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: serif;
}

.footer__link:visited, 
.footer__link:hover, 
.footer__link:active {
    text-decoration: none;
}